[submodule "ctags-pack"]
	path = ctags-pack
	url = https://github.com/cap10morgan/ctags-pack.git
[submodule "projectile-pack"]
	path = projectile-pack
	url = https://github.com/boymaas/projectile-pack.git
[submodule "rails-pack"]
	path = rails-pack
	url = https://github.com/TrevorS/rails-pack.git
[submodule "ruby-pack"]
	path = ruby-pack
	url = https://github.com/cap10morgan/ruby-pack.git
[submodule "solarized-pack"]
	path = solarized-pack
	url = https://github.com/siancu/solarized-pack.git
[submodule "evilmode-pack"]
	path = evilmode-pack
	url = https://github.com/siancu/evilmode-pack.git
[submodule "boymaas-pack"]
	path = boymaas-pack
	url = git@github.com:boymaas/boymaas-pack.git
