[submodule "ctags-pack"]
	path = ctags-pack
	url = https://github.com/cap10morgan/ctags-pack.git
[submodule "evilmode-pack"]
	path = evilmode-pack
	url = https://github.com/boymaas/live-packs.git
[submodule "projectile-pack"]
	path = projectile-pack
	url = https://github.com/boymaas/projectile-pack.git
[submodule "rails-pack"]
	path = rails-pack
	url = https://github.com/TrevorS/rails-pack.git
